<!-- <style>
      .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(255,255,255,1);
      /* background-color: white; */
      /* color : #1976d2  !important; */
      font-size: 30px;
      border-radius: 1%;
      
    } -->
<!-- </style> -->
<nav class="navbar is-transparent py-1 px-1">
    <div class="card-container">
          <a  routerLink="/Home" routerLinkActive="active"  class="card card-small"   style="color:white; text-decoration: none;
          "> HOME </a>
            
    </div>  

  </nav>